executor {
  name = 'slurm'
  queueSize = 100
}

account = "${params.account}"

process {
  cpus = 1
  memory = '8 GB'
  clusterOptions = "--account=${account} --time=01:00:00"

  withName:
  'data_pipeline' {
    cpus = {12 * task.attempt}
    // Memory per attempt: 30G, 60G, 120G, 240G, 480G
    memory = { 30.GB * 2 ** (task.attempt - 1) }
    maxRetries = 4
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 125 + 1) ? 'retry' : 'finish' }
    clusterOptions = "--account=${account} --time=12:00:00"
  }
  withName:
  'model_inference' {
    cpus = 1
    memory = { 30.GB * task.attempt }
    maxRetries = 1
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 125 + 1) ? 'retry' : 'finish' }
    clusterOptions = "--account=${account} --time=12:00:00 --gpus-per-node=1"
  }
}
